[Unit]
Description=X11 Ringboard clipboard listener
Documentation=https://github.com/SUPERCILEX/clipboard-history
Requires=ringboard-server.service
After=ringboard-server.service graphical.target
ConditionEnvironment=DISPLAY

[Service]
Type=exec
Environment=RUST_LOG=trace
ExecStart=/bin/bash -c 'PATH=~/.cargo/bin:$PATH ringboard-x11'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
